<%- include("../partials/header") %> 
<%- include("../partials/navbar") %>

<main class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <h1 display="6">New Product</h1>

      <form action="/products" method="POST">

        <div class="mb-3">
          <label for="name" class="form-label">Name: </label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            placeholder="Name"
          />
        </div>

        <div class="mb-3">
          <label for="img" class="form-label">Image Url: </label>
          <input
            type="text"
            placeholder="Image Url"
            id="img"
            name="img"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">&#x20b9</span>
            <input type="text" name="price" class="form-control" id="price" placeholder="Price" aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="mg-3">
          <label for="desc" class="form-label">Description: </label>
          <textarea
            name="desc"
            id="desc"
            rows="5"
            class="form-control" placeholder="Product Description..."
          ></textarea>

        </div>

        <!-- <br/>
        <br/> -->
        <button type="submit" class="btn btn-success btn-small">Add</button>

      </form>

    </div>
  </div>
</main>

<%- include("../partials/footer") %>
